/**
 * Colors picked from https://ui.shadcn.com/colors.
 */

.md-content p:has(img) {
  display: flex;
  justify-content: center;
}

.md-content img {
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  padding: 4px;
}

/* Media queries for large screens */
@media screen and (min-width: 76.25em) {
  .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    box-shadow: none;
  }

  .md-sidebar--primary .md-nav__link {
    border-radius: 0.5em;
    margin-top: 0.25em;
    padding: 0.5em;
  }

  .md-sidebar--primary .md-nav__container.md-nav__link {
    padding: 0;
  }

  /* Colors default theme */

  .md-sidebar--primary .md-nav__link:hover {
    background-color: #f1f5f9; /* slate-100 */
  }

  .md-sidebar--primary .md-nav__container.md-nav__link:hover {
    background-color: transparent;
  }

  .md-sidebar--primary .md-nav__link.md-nav__link--active {
    background-color: #dbeafe; /* blue-100 */
  }

  .md-sidebar--primary .md-nav__link.md-nav__link--active:hover {
    background-color: #e2e8f0; /* slate-200 */
  }

  /* Colors slate theme */

  [data-md-color-scheme=slate] .md-sidebar--primary .md-nav__link:hover {
    background-color: #1f2937; /* gray-800 */
    color: #60a5fa; /* blue-400 */
  }

  [data-md-color-scheme=slate] .md-sidebar--primary .md-nav__link:focus {
    color: #60a5fa; /* blue-400 */
  }

  [data-md-color-scheme=slate] .md-sidebar--primary .md-nav__container.md-nav__link:hover {
    background-color: transparent;
  }

  [data-md-color-scheme=slate] .md-sidebar--primary .md-nav__link.md-nav__link--active {
    background-color: #334155; /* slate-700 */
    color: #60a5fa; /* blue-400 */
  }

  [data-md-color-scheme=slate] .md-sidebar--primary .md-nav__link.md-nav__link--active:hover {
    background-color: #1e293b; /* slate-800 */
  }
} /* end media query */

/* Intro cards layout */

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  background-color: #f1f5f9; /* slate-100 */
  border: 2px solid #e2e8f0; /* slate-200 */
  border-radius: 1em;
  flex-basis: calc(50% - .5em);
}

@media screen and (max-width: 640px) {
  .card {
    flex-basis: 100%;
  }
}

[data-md-color-scheme=slate] .card {
  background-color: #1f2937; /* gray-800 */
  border: 2px solid #111827; /* gray-900 */
}

.card-header {
  padding: 1em 1.25em 0.25em;
}

.card-header .icon {
  background-repeat: no-repeat;
  background-size: 2.25em;
  background-position: center;
  border-radius: 0.5em;
  display: block;
  height: 3em;
  width: 3em;
}

.icon.icon-introduction {
  background-image: url(../media/icons/home-lightbulb-outline-custom.png);
  background-color: #34d399; /* emerald-400 */
}

.icon.icon-platform {
  background-image: url(../media/icons/memory-custom.png);
  background-color: #22d3ee; /* cyan-400 */
}

.icon.icon-development {
  background-image: url(../media/icons/code-block-tags-custom.png);
  background-color: #e879f9; /* fuchsia-400 */
}

.icon.icon-resources {
  background-image: url(../media/icons/database-cog-outline-custom.png);
  background-color: #fbbf24; /* amber-400 */
}

[data-md-color-scheme=slate] .icon.icon-introduction {
  background-color: #6ee7b7; /* emerald-300 */
}

[data-md-color-scheme=slate] .icon.icon-platform {
  background-color: #67e8f9; /* cyan-300 */
}

[data-md-color-scheme=slate] .icon.icon-development {
  background-color: #f0abfc; /* fuchsia-300 */
}

[data-md-color-scheme=slate] .icon.icon-resources {
  background-color: #fcd34d; /* amber-300 */
}

.card-body {
  padding: .5em 1em;
}

.card h3 {
  font-weight: 500;
  margin: 0 0 .5em;
}

.md-typeset ul.intro-links {
  margin-left: 0;
}

.card li {
  list-style: none;
  margin-left: 0
}

.card a {
  color: #60a5fa; /* blue-400 */
}

.card a::before {
  border-right: 2px solid #1f2937; /* gray-800 */
  border-top: 2px solid #1f2937; /* gray-800 */
  content: ' ';
  display: inline-block;
  height: .4em;
  margin-left: -1em;
  margin-right: .5em;
  transform: rotate(45deg);
  vertical-align: .15em;
  width: .4em;
  transition: all 100ms ease-in-out;
}

[data-md-color-scheme=slate] .card a::before {
  border-color: #e2e8f0; /* slate-200 */
}

.card a:hover::before {
  margin-left: -0.85em;
  margin-right: .35em;
}