/**
 * Colors picked from https://ui.shadcn.com/colors.
 */

.md-content p:has(img) {
  display: flex;
  justify-content: center;
}

.md-content img {
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  padding: 4px;
}

/* Media queries for large screens */
@media screen and (min-width: 76.25em) {
  .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    box-shadow: none;
  }

  .md-sidebar--primary .md-nav__link {
    border-radius: 0.5em;
    margin-top: 0.25em;
    padding: 0.5em;
  }

  .md-sidebar--primary .md-nav__container.md-nav__link {
    padding: 0;
  }

  /* Colors default theme */

  .md-sidebar--primary .md-nav__link:hover {
    background-color: #f1f5f9; /* slate-100 */
  }

  .md-sidebar--primary .md-nav__container.md-nav__link:hover {
    background-color: transparent;
  }

  .md-sidebar--primary .md-nav__link.md-nav__link--active {
    background-color: #dbeafe; /* blue-100 */
  }

  .md-sidebar--primary .md-nav__link.md-nav__link--active:hover {
    background-color: #e2e8f0; /* slate-200 */
  }

  /* Colors slate theme */

  [data-md-color-scheme=slate] .md-sidebar--primary .md-nav__link:hover {
    background-color: #1f2937; /* gray-800 */
    color: #60a5fa; /* blue-400 */
  }

  [data-md-color-scheme=slate] .md-sidebar--primary .md-nav__link:focus {
    color: #60a5fa; /* blue-400 */
  }

  [data-md-color-scheme=slate] .md-sidebar--primary .md-nav__container.md-nav__link:hover {
    background-color: transparent;
  }

  [data-md-color-scheme=slate] .md-sidebar--primary .md-nav__link.md-nav__link--active {
    background-color: #334155; /* slate-700 */
    color: #60a5fa; /* blue-400 */
  }

  [data-md-color-scheme=slate] .md-sidebar--primary .md-nav__link.md-nav__link--active:hover {
    background-color: #1e293b; /* slate-800 */
  }
} /* end media query */

/* Intro cards layout */

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  background-color: #f3f4f6; /* gray-100 */
  border: 2px solid #e5e7eb; /* gray-200 */
  border-radius: 1em;
  flex-basis: calc(50% - .5em);
}

@media screen and (max-width: 640px) {
  .card {
    flex-basis: 100%;
  }
}

[data-md-color-scheme=slate] .card {
  background-color: #1f2937; /* gray-800 */
  border: 2px solid #111827; /* gray-900 */
}

.card-header {
  padding: 1em 1.25em 0.25em;
}

.card-header .icon {
  background-repeat: no-repeat;
  background-size: 2.25em;
  background-position: center;
  border-radius: 0.5em;
  display: block;
  height: 3em;
  width: 3em;
}

.icon.icon-introduction {
  background-image: url(../media/icons/home-lightbulb-outline-custom.png);
  background-color: #ED1C24; /* emerald-400 */
}

.icon.icon-platform {
  background-image: url(../media/icons/memory-custom.png);
  background-color: #00C2DE; /* cyan-400 */
}

.icon.icon-development {
  background-image: url(../media/icons/code-block-tags-custom.png);
  background-color: #F26522; /* fuchsia-400 */
}

.icon.icon-resources {
  background-image: url(../media/icons/database-cog-outline-custom.png);
  background-color: #C1A968; /* amber-400 */
}

.card-body {
  padding: .5em 1em;
}

.card h3 {
  font-weight: 500;
  margin: 0 0 .5em;
}

.md-typeset ul.intro-links {
  margin-left: 0;
}

.card li {
  list-style: none;
  margin-left: 0
}

.card a {
  color: #60a5fa; /* blue-400 */
}

.card a::before {
  border-right: 2px solid #1f2937; /* gray-800 */
  border-top: 2px solid #1f2937; /* gray-800 */
  content: ' ';
  display: inline-block;
  height: .4em;
  margin-left: -1em;
  margin-right: .5em;
  transform: rotate(45deg);
  vertical-align: .15em;
  width: .4em;
  transition: all 100ms ease-in-out;
}

[data-md-color-scheme=slate] .card a::before {
  border-color: #e2e8f0; /* slate-200 */
}

.card a:hover::before {
  margin-left: -0.85em;
  margin-right: .35em;
}

/* Custom admonitions */

:root {
  --md-admonition-icon--draft: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>file-document-edit-outline</title><path d="M8,12H16V14H8V12M10,20H6V4H13V9H18V12.1L20,10.1V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H10V20M8,18H12.1L13,17.1V16H8V18M20.2,13C20.3,13 20.5,13.1 20.6,13.2L21.9,14.5C22.1,14.7 22.1,15.1 21.9,15.3L20.9,16.3L18.8,14.2L19.8,13.2C19.9,13.1 20,13 20.2,13M20.2,16.9L14.1,23H12V20.9L18.1,14.8L20.2,16.9Z" /></svg>')
}

.md-typeset .admonition.draft,
.md-typeset details.draft {
  background-color: #f1f5f9; /* slate-100 */
  border: transparent;
  border-radius: .5em;
  box-shadow: none;
  color: #374151; /* gray-700 */
}

.md-typeset .draft > .admonition-title,
.md-typeset .draft > summary {
  background-color: #e2e8f0; /* slate-200 */
  border-radius: .5em .5em 0 0;
}

.md-typeset .draft > .admonition-title::before,
.md-typeset .draft > summary::before {
  background-color: #374151; /* gray-700 */
  -webkit-mask-image: var(--md-admonition-icon--draft);
          mask-image: var(--md-admonition-icon--draft);
}

[data-md-color-scheme=slate] .md-typeset .admonition.draft,
[data-md-color-scheme=slate] .md-typeset details.draft {
  background-color: #1e293b; /* slate-100 */
  color: #9ca3af; /* gray-400 */
}

[data-md-color-scheme=slate] .md-typeset .draft > .admonition-title,
[data-md-color-scheme=slate] .md-typeset .draft > summary {
  background-color: #0f172a; /* slate-900 */
}

[data-md-color-scheme=slate] .md-typeset .draft > .admonition-title::before,
[data-md-color-scheme=slate] .md-typeset .draft > summary::before {
  background-color: #9ca3af; /* gray-400 */
}